/* Section 1 */
.checkout #section1 {
    padding-top: 6rem;
    padding-bottom: 4rem;
    color: white;
}

.checkout .nftimg {
    width: 200px;
}

.checkout .col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Section 1 */