/* Section 1 */
.login #section1 {
  color: white;
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* Section 1 */
