/* Section 1 */
.products #section1 {
  position: relative;
  overflow: hidden;
  height: 50vh;
  width: 100%;
}

.products #s1vid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100vw;
  min-height: 90vh;
  clip-path: inset(1px 1px);
}

.products .s1inner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.products .s1inner div h1 {
  font-size: 4rem;
  font-weight: bolder;
}

.products .s1h1small {
  font-size: 3rem !important;
}

@media (max-width: 960px) {
  .products .s1inner div h1 {
    font-size: 3rem;
  }

  .products .s1h1small {
    font-size: 1.8rem !important;
  }
  .products #s1vid {
    transform: translate(-70%, -50%);
  }
}

@media (max-width: 768px) {
  .products .s1inner div {
    text-align: center;
  }
  .products .s1inner div h1 {
    font-size: 2.5rem;
  }

  .products .s1h1small {
    font-size: 1.7rem !important;
  }
  .products #section1 {
    height: 70vh;
  }
  .products .s1inner {
    height: 70vh;
  }
  .products #s1vid {
    transform: translate(-70%, -50%);
  }
}

@media (max-width: 560px) {
  .products .s1inner div h1 {
    font-size: 2rem;
  }

  .products .s1h1small {
    font-size: 1.65rem !important;
  }
}

@media (max-width: 475px) {
  .products .s1inner div h1 {
    font-size: 1.8rem;
  }

  .products .s1h1small {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 375px) {
  .products .s1inner div h1 {
    font-size: 1.4rem;
  }

  .products .s1h1small {
    font-size: 1.1rem !important;
  }
}
/* Section 1 */

/* Section 1.5 */
.products #section1_5 {
  display: none;
}

.products #filter {
  cursor: pointer;
}

@media (max-width: 767px) {
  .products #section1_5 {
    display: block;
  }
}
/* Section 1.5 */

/* Section 2 */
.products #section2 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

.products .s2rc1inner {
  position: sticky;
  top: 0;
  padding-top: 4rem;
}

.products .productLink {
  color: white;
  text-decoration: none;
}

.products .productLink .card {
  background-color: rgba(78, 78, 78, 0.25);
  color: white;
  border-radius: 1.5rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  min-width: 0px !important;
  backdrop-filter: blur(2px);
}

.products .productimg {
  background-color: white;
  height: 20vw;
  width: 20vw;
  border-radius: 1.5rem;
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  overflow: hidden;
}

@media (max-width: 991px) {
  .products .productimg {
    height: 30vw;
    width: 30vw;
  }
}

@media (max-width: 767px) {
  .products .productimg {
    height: 80vw;
    width: 80vw;
  }

  .products #section1_5 {
    display: block;
  }

  .products .s2rc1 {
    display: none;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .products .productimg {
    height: 40vw;
    width: 40vw;
  }
}

.products .productimg .cardimg {
  height: 100% !important;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.products .productLink:hover > .card .productimg {
  box-shadow: 0px 0px 30px 0px #72c1ff;
}

.products .productLink:hover > .card .productimg img {
  transform: scale(1.05);
}

.products .s2cardbody1 {
  font-size: 0.8rem;
}

.products .s2cardspan {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.products .s2cardlogo {
  width: 25px;
  border-radius: 50%;
}

.products .filtertab {
  border: 1px solid grey;
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  text-wrap: nowrap;
}

.products .filtertab:hover {
  background-color: white;
  color: black;
}

.products .filtertabActive {
  background-color: white;
  color: black;
}

.products .filterp {
  /* line-height: 3.5rem; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
/* Section 2 */
